@media screen and (max-width: 500px) {
    .portfolio_presentation {    
        border: 0px solid black;  
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 15px; 
        font-size: small;  
    }

    .portfolio_about-me {
        border: 0px solid black;  
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 15px;
        text-align: justify;
        font-size: small; 
    }

    img {    
        width: 35%;
        height: 35%;
        margin-top: 50px;
        margin-bottom: 50px;    
        border-radius: 20px;  
      }
    
    .portfolio_presentation > h3 {    
        padding-right: 0px;
    }    
    
}



