@media screen and (max-width: 500px) {
    .portfolio_presentation {    
        border: 1px solid black;  
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 15px;    
    }
    
    .portfolio_presentation > h3 {    
        padding-right: 0px;
    }    
    
}



