<div class="container_bottom-bar">
    <div class="bottom-bar_icons">
        <a href="https://www.linkedin.com/in/brenolucena/" target="_blank"><img src="https://toppng.com/uploads/preview/linkedin-square-logo-comments-linkedin-icon-black-11563087424lpctodfamj.png" alt=""></a>
        <a href="https://github.com/Brenorml?tab=repositories" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt=""></a>
        <a href="mailto:breno.lucena@gmail.com" target="_blank"><img src="https://www.freeiconspng.com/thumbs/email-icon/email-icon--clipart-best-22.png" alt=""></a>
        <a href="https://wa.me/+351919195809" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/739/739247.png" alt=""></a>
    </div>
</div>
