footer {    
    max-width: 100%;    
    text-align: center;    
}

@media screen and (max-width: 430px) {
    footer {    
        max-width: 100%;    
        text-align: center; 
        font-size: small;  
    }
}