.discipline-card_container {
    border: 0px solid rgb(0, 0, 0); 
    width: 100%;
    height: auto;    
}

.discipline-card_title {
    border: 0px solid rgb(0, 0, 0); 
    width: 75%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discipline-card_content {
    border: 0px solid rgb(0, 0, 0);
    width: 75%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discipline-card_box {
    display: flex;
    flex-direction: column;    
    text-align: center;
    font-weight: bold;
    border: 0px solid rgb(0, 0, 0);
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {    
    border: 0px solid rgb(0, 0, 0);    
    height: 200px;
    width: 200px;  
    border-radius: 20px;
    transition: all 100ms ease-in-out;    
}

p {
    font-size: large;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    
}

span {
    border: 0px solid rgb(0, 0, 0);
    padding-left: 50px;    
    font-weight: bold; 
}