<div class="container_menu-bar"> 
    <div class="menu-bar_menu-icons">
        <a [routerLink]="['']">{{ tabLeft }}</a>
    </div>      
    <ul class="menu-bar_options">
        <li><a [routerLink]="['aboutme', 1]">{{ tabMiddle1 }}</a></li>
        <li><span>•</span></li>
        <li><a href="https://1drv.ms/b/s!Ak2_T5MCaVBOpdMa7rc9XRSixzZDRw?e=VATCCw " target="_blank">{{ tabMiddle2 }}</a></li>
        <li><span>•</span></li>
        <li> <a [routerLink]="['portfolio']">{{ tabMiddle3 }}</a></li>
        <li><span>•</span></li>
        <li><a href="#">{{ tabMiddle4 }}</a></li>
    </ul>
    <div class="menu-bar_contacts">
        <a href="https://wa.me/+351919195809" target="_blank">{{ tabRight }}</a>
    </div>   
</div>

